.btn {
  height: 40px;
  border: 2px solid $secondarycolor;
  font-size: 18px;
  padding: 6px;
  border-radius: 10px;
  background-color: darken($secondarycolor, 20%);
  color: white;
  overflow: hidden;
  z-index: 0;
  position: relative;
  margin-bottom: 10px;
  margin-top: 10px;
  &::before {
    content: "";
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 100%;
    background: $secondarycolor;
    border-radius: 50% 50% 0 0;
    transition: all 0.5s;
    z-index: -1;
  }
  &:hover::before {
    top: 0;
    border-radius: 0;
  }
}

.btn-filtre {
  border: 2px solid $primarycolor;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 15px;
  margin-right: 10px;
}

.activeFiltre {
  background-color: lighten($primarycolor, 50%);
}
