.notFound{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    &__text{
        width: 65%;
        text-align: center;
    }
}
.fa-face-sad-cry{
    color : $secondarycolor;
    font-size: 24px;
}