.formContainer{
    text-align: center;
    
    & label{
        display: inline-block;
        width: 50%;
        margin-bottom: 10px;
        text-decoration: underline;
        text-decoration-color: $secondarycolor;
    }
    & input{
        width : 90%;
        margin-bottom: 10px;
        height : 30px;
        border-radius: 10px;
    }
    & select{
        width : 92%;
        margin-bottom: 10px; 
        height : 40px;
        border-radius: 10px;
    }
    & button{
        width: 50%;
        height: 50px;
        border-radius: 20px;
        background-color: $secondarycolor;
        color: white;
        border: none;
        margin-top: 20px;
    }
}