.descriptionContainer{
    margin-bottom: 20px;
    &__title{
        font-size : 1.1em;
        color: $primarycolor;
        text-align: center;
    }
    &__list{
        list-style: none;
        display: flex;
        justify-content: space-around;
        padding: 0;
        font-size: 16px;
    }
}
.fa-hand-point-down{
    color: $secondarycolor;
    margin-left: 5px;
    font-size: 20px;
}

.connexion{
    border: 2px solid $primarycolor;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    margin-bottom: 50px;
    &__text{
        margin-top: 5px;
    }
}
